body{
    font-size:30px;
}
.return{
    font-size:30px;
}
input{
    height:55px;
    width:600px;
    font-size:30px;
}
button{
    height:55px;
    font-size:30px;
    position:relative;
    top:10px;
    left:532px;
}